.img1 {
  background: url(./images/1.png?__sprite);
}
.img2 {
  background: url(./images/2.png?__sprite);
}
.img3 {
  background: url(./images/3.png?__sprite);
}
.img4 {
  background: url(./images/4.png?__sprite);
}
.img5 {
  background: url(./images/5.png?__sprite);
}
.img6 {
  background: url(./images/6.png?__sprite);
}
.img7 {
  background: url(./images/7.png?__sprite);
}
.img8 {
  background: url(./images/8.png?__sprite);
}
